{% extends "principal.html" %}

{% block contenido %}
<h2>Lista de Películas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Director</th>
            <th>Fecha de Lanzamiento</th>
            <th>Sinopsis</th>
            <th>Tiempo Proyectada</th>
            <th>Salas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pelicula in peliculas_mostrar %}
        <tr>
            <td>{{ pelicula.titulo }}</td>
            <td>{{ pelicula.director }}</td>
            <td>{{ pelicula.fechaLanzamiento }}</td>
            <td>{{ pelicula.sinopsis }}</td>
            <td>{{ pelicula.tiempoProyectada }}</td>
            <td>
                {% for sala in pelicula.sala %}
                    {{ sala.tamano }}<br>
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'pelicula_editar' pelicula.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'pelicula_eliminar' pelicula.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}